@model FoodManagement.ViewModels.RecipeIngredients

@{
    ViewBag.Title = "Recipe Ingredients";
}

<h2>Recipe Ingredients</h2>

@using (Html.BeginForm("RecipeIngredients", "Recipe", FormMethod.Get))
{
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.CurrentRecipe.Name)</h4>
        <h5>Unused Ingredients</h5>
        @using (Html.BeginForm("RecipeIngredients", "Recipe", FormMethod.Get))
        {
            <p>
                Name: @Html.TextBox("currentUnusedFilter", ViewBag.CurrentUnusedFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table-condensed">
            <tr>
                <th>
                    @Html.ActionLink("Name", "RecipeIngredients", new { unusedIngredientSort = ViewBag.UnusedNameSort, currentUnusedFilter = ViewBag.CurrentUnusedFilter })
                </th>
                <th>
                    @Html.ActionLink("Type", "RecipeIngredients", new { unusedIngredientSort = ViewBag.UnusedTypeSort, currentUnusedFilter = ViewBag.CurrentUnusedFilter })
                </th>
            </tr>
            
            @foreach (var ingredients in Model.UnusedIngredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ingredient => ingredients.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(ingredient => ingredients.IngredientType.Name)
                    </td>
                    <td>
                        @{
                            using (Html.BeginForm("AddIngredientToRecipe", "Recipe", new {recipeId = 1, ingredientId = ingredients.ID}))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" name="AddIngredient" value="Add Ingredient"/>
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
}