@model FoodManagement.ViewModels.RecipeIngredients

@{
    ViewBag.Title = "Recipe Ingredients";
}

<h2>Recipe Ingredients</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.CurrentRecipe.Name)</h4>
        
        <h5>Unused Ingredients</h5>
        <table class="table-condensed">
            <tr>
                <th>
                    @Html.ActionLink("Name", "RecipeIngredients", new { unusedIngredientSort = ViewBag.UnusedNameSort, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @*Type*@
                    @Html.ActionLink("Type", "RecipeIngredients", new { unusedIngredientSort = ViewBag.UnusedTypeSort, currentFilter = ViewBag.CurrentFilter })
                </th>
            </tr>
            
            @foreach (var ingredients in Model.UnusedIngredients)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ingredient => ingredients.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(ingredient => ingredients.IngredientType.Name)
                    </td>
                </tr>
            }
        </table>
    </div>
}